@model AgeApp.ViewModel.BallotFormViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Ballot")) {
    <div class="form-group">
        @Html.LabelFor(m => m.Ballot.Name)
        @Html.TextBoxFor(m => m.Ballot.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ballot.ReleaseDate)
        @Html.TextBoxFor(m => m.Ballot.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ballot.GenreId)
        @Html.DropDownListFor(m => m.Ballot.GenreId, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ballot.NumberInStock)
        @Html.TextBoxFor(m => m.Ballot.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Ballot.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}